a {
	color: white;
	font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-shadow: 2px 2px grey;
  }
  
  /* header */
  
  /* header */

.header {
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	color: orange;
  }
  
  .header .logo {
	display: block;
	float: left;
	max-width:4%;
	width:100%;
	height:auto;
	padding: 5px 15px;
	padding-left: 6%;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #6E7273;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #6E7273;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }
  

  /*top container*/
  
.top-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;	
  }

  .subway {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin:0;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.name {
	position: absolute;
	top: 27%;
	left: 70%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
	color: #3C73A3;
}

.who {
	position: absolute;
	top: 33%;
	left: 70%;
	transform: translate(-50%, -50%);
	font-size: 1.5vw;
	font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
	color: #173956;
}



body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.background-wrap {
	background-image: linear-gradient(to top, #fbffff, #e6fdfe, #d1fafd, #baf8fe, #a0f5ff);
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* middle container */

.middle-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;	
}

.beach{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin:0;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* contact container */


.window {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin:0;
	top: 0;
    bottom: 0;
    right: 0;
	left: 0;
	z-index: 1;
}

.contact-container {
	position: absolute;
	margin-left:70%;
	z-index: 3;
	margin-top:-37%;  
	object-fit: cover; 
	display: inline-block;
}

.resume {
	padding:10px;
}

.linkedin {
	bottom: -.5%;
	content: '';
	display: block;
	height: 96.4%;
	left: 32%;
	margin-left: -.1em;
	position: absolute;
	width: 2em;
	z-index: 3;

}


.github {
	bottom: -.5%;
	content: '';
	display: block;
	height: 96.4%;
	left: 25%;
	margin-left: -.1em;
	position: absolute;
	width: 2em;
	z-index: 3;

}

.dribbble {
	bottom: -.5%;
	content: '';
	display: block;
	height: 96.4%;
	left: 36%;
	margin-left: -.1em;
	position: absolute;
	width: 1em;
	z-index: 3;

}



  
  /* Begin Left Contact Page */
  .form-horizontal {
	float: right;
	max-width: 400px;
	font-family: 'Caveat Brush', cursive;
	font-weight: 400;
  }
  
  .form-control, textarea {
	max-width: 400px;
	background: rgba(255,255,255,0.4);
	color: black;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: 'Caveat Brush', cursive;
  }
  
  .send-button {
	margin-top: 15px;
	height: 34px;
	max-width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
	background-color: #b6ef06;
  }
  
  .button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
  }
  
  .send-text {
	display: block;
	margin-top: 10px;
	font: 300 14px 'Caveat Brush', sans-serif;
	letter-spacing: 2px;
  }
  
  .button:hover {
	transform: translate3d(0px, -29px, 0px);
  }
  

  @media screen and (max-width: 410px) {
	.send-button {
	  width: 99%;
	}
  }

textarea {
	width: 400px;
	height:150px;
  } 
input{
	width:400px;
	height:18px;
	margin-bottom:15px;
}
  
  

.dolls-container {
	position: absolute;
	margin-left:30%;
	font-size: 0.8vw;
	z-index: 2;
	margin-top:-20%;
}


  /* transition definitions */
  .doll {
	  -webkit-backface-visibility: hidden;
	  -webkit-transform: translate3d(0,0,0);
	  -moz-transition: all .5s;
	  -ms-transition: all .5s;
	  -o-transition: all .5s;
	  -webkit-transition: all .5s;
	  transition: all .5s;
  }
  
  .head {
	  -moz-transition: -moz-transform .5s;
	  -ms-transition: -ms-transform .5s;
	  -o-transition: -o-transform .5s;
	  -webkit-transition: -webkit-transform .5s;
	  transition: transform .5s;
	  -moz-transform-origin: .5em .35em;
	  -ms-transform-origin: .5em .35em;
	  -o-transform-origin: .5em .35em;
	  -webkit-transform-origin: .5em .35em;
	  transform-origin: .5em .35em;
  }
  
  /*--------------------
	  general doll styles
	  -------------------- */
  .doll {
	  bottom: .1em;
	  height: -.70em;
	  margin-left: -.25em;
	  position: absolute;
	  width: .5em;
	  z-index: -1;
  }
  
  .master.doll {
	  font-size: 17em;
	  /*left: 50%;*/
  }
  
  .doll .doll {
	  font-size: .8em;
	  left: -.5em;
  }
  
  /* head hole */
  .doll::before {
	  background: #421b13;
	  border-radius: 50%;
	  content: '';
	  display: block;
	  height: .05em;
	  left: 50%;
	  margin-left: -.19em;
	  position: relative;
	  top: 0.39em;
	  width: 0.38em;
	  z-index: -1;
  }
  
  /* doll shadow */
  .doll::after {
	  background: rgba(0, 0, 0, .3);
	  border-radius: 50%;
	  content: '';
	  display: block;
	  height: 0.16em;
	  left: 50%;
	  margin-left: -.35em;
	  position: relative;
	  bottom: 0.15em;
	  width: 0.7em;
	  z-index: -1;
  }
  
  .head {
	  background: #F4B696;
	  border-top-left-radius: 45%;
	  border-top-right-radius: 45%;
	  border-bottom-left-radius: 50% 10%;
	  border-bottom-right-radius: 50% 10%;
	  box-shadow: 0 .005em 0 rgba(0,0,0,.4);
	  height: .3em;
	  left: 50%;
	  margin-left: -.2em;
	  padding: .05em;
	  position: relative;
	  width: .3em;
	  z-index: 2;
  }
  
  .face {
	  background: #efdfab;
	  border-radius: 50%;
	  height: .3em;
	  overflow: hidden;
	  position: relative;
	  width: .3em;
  }
  
  .hair {
	  background: #302214;
	  border-radius: 50%;
	  height: .3em;
	  margin: -.2em;
	  position: absolute;
	  width: .3em;
  }
  
  .hair::after {
	  background: #302214;
	  border-radius: 50%;
	  content: '';
	  display: block;
	  height: .3em;
	  margin: 0 0 0 .27em;
	  width: .3em;
  }
  
  .eye {
	  background: white;
	  border-radius: 50% / 60% 60% 30% 30%;
	  height: .05em;
	  left: 50%;
	  margin-top: -.03em;
	  position: absolute;
	  top: 50%;
	  width: .07em;
  }
  
  /* eyebrows */
  .eye::before {
	  border-top: .010em solid black;
	  border-radius: 50%;
	  content: '';
	  display: block;
	  height: .05em;
	  left: 50%;
	  margin: -.02em -5em 0 -.008em;
	  top: 50%;
	  width: .08em;
  }
  
  /* pupil */
  .eye::after {
	  background: #27170f;
	  border: .0068em solid white;
	  border-radius: 50%;
	  content: '';
	  display: block;
	  height: .036em;
	  left: 50%;
	  margin: 0 0 0 -.0248em;
	  position: absolute;
	  top: 0;
	  width: .036em;
  }
  
  .left.eye {
	  margin-left: -.09em;
  }
  
  .right.eye {
	  margin-left: .03em;
  }
  
  .nose {
	  border-top: .005em solid #ead393;
	  border-radius: 50% / 70% 70% 30% 30%;
	  height: .02em;
	  left: 50%;
	  margin: .02em 0 0 -.015em;
	  position: absolute;
	  top: 50%;
	  width: .04em;
  }
  
  .mouth {
	  background: #f97f95;
	  border-radius: 100% / 90% 90% 90% 90%;
	  height: .04em;
	  left: 50%;
	  margin: .07em 0 0 -.05em;
	  position: absolute;
	  top: 50%;
	  width: .1em;
  }
  
  /* rosie cheeks */
  .mouth::before,
  .mouth::after {
	  background: #fcc9b0;
	  border-radius: 50%;
	  content: '';
	  display: inline-block;
	  height: .06em;
	  position: absolute;
	  top: -.04em;
	  width: .06em;
  }
  
  .mouth::before {
	  left: -.07em;
  }
  
  .mouth::after {
	  left: .11em;
  }
  
  .shape {
	  background: #F4B696;
	  border-top-left-radius: 20% 65%;
	  border-top-right-radius: 20% 65%;
	  border-bottom-left-radius: 50% 15%;
	  border-bottom-right-radius: 50% 15%;
	  box-shadow: 0 .005em 0 rgba(0,0,0,.4);
	  height: .6em;
	  left: 50%;
	  margin: -.04em 0 0 -.3em;
	  position: relative;
	  width: .6em;
  }
  

/* placket - general */
.shape::before,
.shape::after {
	background: white;
	bottom: -.5%;
	content: '';
	display: block;
	height: 96.4%;
	left: 50%;
	margin-left: -.1em;
	position: absolute;
	width: .1em;
}

/* placket - left */
.shape::before {
	border-radius: 70% 0 0 100% / 100% 0 0 2%;
	box-shadow: .005em 0 0 rgba(0,0,0,.3) inset;
}

/* placket - right */
.shape::after {
	border-radius: 0 70% 100% 0 / 0 100% 2% 0;
	box-shadow: -.005em 0 0 rgba(0,0,0,.3) inset;
	margin-left: 0;
}

  
  
  .arm {
	  border: .005em solid rgba(0,0,0,.2);
	  height: .1em;
	  position: absolute;
	  top: 30%;
	  width: .1em;
  }
  
  .left.arm {
	  border-left: none;
	  left: .05em;
	  -webkit-transform: skew(-10deg, 5deg);
  }
  
  .right.arm {
	  border-right: none;
	  right: .05em;
	  -webkit-transform: rotate(-40deg);
  }
  
  /* hands */
  .arm::after {
	  background: #efdfab;
	  display: block;
	  height: 100%;
	  overflow: hidden;
	  position: relative;
	  width: 50%;
	  content: '';
  }
  
  /* left hand */
  .left.arm::after {
	  border-radius: 0 50% 50% 0;
	  right: -100%;
  }
  
  /* right hand */
  .right.arm::after {
	  border-radius: 50% 0 0 50%;
	  left: -50%;
  }
  
  /*--------------------
	  specific doll styles
	  -------------------- */
  /* doll2 */
  .master.doll > .doll > .head {
	background-image: url("https://lh3.googleusercontent.com/VpogfVrS1o72irinhXU-TvDvnZtC-yAFSAYHDft4uOznLteN6Rb9dJ9QJ2grhciJtJfNHbdAZPfK-qqr9tjO7vHlba9it97OH16ubbf7h1VRm7pdeZCf_xRB49LDnaP6WkIG7CUtne3H3D6mScQWr0EJltBi-JRMBy6KRM8hyheibL45FOeyjbVrT41HxtTnkmSf4vojDCBQI0xSbjj2OBUvxtfGD46TF6o9uP8a9yNV9U1Fts5u4CSQZnlxZeQCTKdVWdbbPYzPB7pbCp-Yok51XQqJWj__8XFio2QtEwTe-rI0SCs1BIDVrGv--PKflbKppAmRSqkQoZ2EUe0le0R5sUGGIE8JYXi3VhciZdn5VPN0KjYPM6nyi1exTjYq52_cnqhX72tA1inhXdCQ6uO3eV9UyC0gAZUYW2NQNK_UqcY8WITM4Qz6wFTftPEIqxma6LyW2DsOhD_aqwJ1wPY49fatPwq9bx3vzlWLTJwk1lpVySi3TSf03Q0-k96YOr7im-1BE18U1j8Ulat1Sk9ny8gVUaIs956R3mDK0yM82hQTqBmhYIfXstIMoqRAVgNUVNZPbBOgwQ3HjJYjgyU71HDAnWrHDVD6lEZ_IMfZ3pP9mKhg-O0gQ52pn5HMxWNcEYLtgutlbINOT26vN0apJeDqesQrTvTo9ljZ_DJVIItLdZ-w1zPDU3YV=s720-no");
	background-color: #2773B1;
	background-repeat: repeat;
	background-size: 150px 150px;
  }
  .master.doll > .doll > .shape {
	background-image: url("https://lh3.googleusercontent.com/VpogfVrS1o72irinhXU-TvDvnZtC-yAFSAYHDft4uOznLteN6Rb9dJ9QJ2grhciJtJfNHbdAZPfK-qqr9tjO7vHlba9it97OH16ubbf7h1VRm7pdeZCf_xRB49LDnaP6WkIG7CUtne3H3D6mScQWr0EJltBi-JRMBy6KRM8hyheibL45FOeyjbVrT41HxtTnkmSf4vojDCBQI0xSbjj2OBUvxtfGD46TF6o9uP8a9yNV9U1Fts5u4CSQZnlxZeQCTKdVWdbbPYzPB7pbCp-Yok51XQqJWj__8XFio2QtEwTe-rI0SCs1BIDVrGv--PKflbKppAmRSqkQoZ2EUe0le0R5sUGGIE8JYXi3VhciZdn5VPN0KjYPM6nyi1exTjYq52_cnqhX72tA1inhXdCQ6uO3eV9UyC0gAZUYW2NQNK_UqcY8WITM4Qz6wFTftPEIqxma6LyW2DsOhD_aqwJ1wPY49fatPwq9bx3vzlWLTJwk1lpVySi3TSf03Q0-k96YOr7im-1BE18U1j8Ulat1Sk9ny8gVUaIs956R3mDK0yM82hQTqBmhYIfXstIMoqRAVgNUVNZPbBOgwQ3HjJYjgyU71HDAnWrHDVD6lEZ_IMfZ3pP9mKhg-O0gQ52pn5HMxWNcEYLtgutlbINOT26vN0apJeDqesQrTvTo9ljZ_DJVIItLdZ-w1zPDU3YV=s720-no");
	background-color: #2773B1;
	background-repeat: repeat;
	background-size: 200px 200px;
	
}

  
  .master.doll > .doll > .body {
	  background: -webkit-radial-gradient(center top, 0.35em .05em, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, .2) 46%, rgba(0, 0, 0, .2) 49%, rgba(234, 134, 35, 0) 50%, rgb(234, 134, 35) 51%);
  }
  
  .master.doll > .doll > .body::before,
  .master.doll > .doll > .body::after {
	  background: #9ece44;
  }
  
  /* doll3 */
  .master.doll > .doll  > .doll > .head {
	background-image: url("https://lh3.googleusercontent.com/klxeBlP7r1--MT_q9OtuVPCcER3Ps7ggJx_RyqFLadU5KHCYu60i8wTw7UDfyR5IUeSYImBdTZofgijbu8hT07rGZpf_pGv2_aJoIUnDSm18EPbWbJh52NkdQ_GQQHHXFJls0xRDH7x0m5-vznNTXu2Q36roimV2lvQ20OT8FTrUiuhWctOPqhBK6ZBdj8eHKQXgT_Zdknlm3Ml8TvAbcB30Ezd-s-tp_nsUb74tLlizkrlmZQefLJ7jYbObAoUU6CJKWGgqjQYcEauQm7pVo9lmsP2AvjEOioG0JUYpGl8H0LKLNmisk_VBv4PM_niZ1RAt9a0MonhB48-lyFjjADmPR3wQ0mgsVCuWyS-K3mAc1YRpVviTCMUKc3hkaLzW_8Wq387jDorzRb3pao2UhxXwKfbXTy1JkY8SyCg2n7R3DeQyx_nvmMKzGv9ZKm6kFmIVmSgkkPiGYKjf0dlzussNf2KrYsbC8I1S367VLWDLb5RAc02-lqiGFk4KbUsWiifo3x39iH0_2FkMMcUKafw-6j8rmOxPMGglS6bZuRvXgf0-3iio3UL-wiWrMSulM8uPTX8bpoOmUZGD3wNY567UEB2AQyEWGgWlbTkIaH-iDpmHIA_RXp478Hl9Qyts6g6GHUCD2HaKmf0WN8VV__ffwYqkeTatVP-0sgE5i1dCJrOVVSP-sxGoPaFj=s720-no");
	background-color: black;
	background-repeat: repeat;
	background-size: 100px 100px;
  }

  .master.doll > .doll > .doll > .shape {
	background-image: url("https://lh3.googleusercontent.com/klxeBlP7r1--MT_q9OtuVPCcER3Ps7ggJx_RyqFLadU5KHCYu60i8wTw7UDfyR5IUeSYImBdTZofgijbu8hT07rGZpf_pGv2_aJoIUnDSm18EPbWbJh52NkdQ_GQQHHXFJls0xRDH7x0m5-vznNTXu2Q36roimV2lvQ20OT8FTrUiuhWctOPqhBK6ZBdj8eHKQXgT_Zdknlm3Ml8TvAbcB30Ezd-s-tp_nsUb74tLlizkrlmZQefLJ7jYbObAoUU6CJKWGgqjQYcEauQm7pVo9lmsP2AvjEOioG0JUYpGl8H0LKLNmisk_VBv4PM_niZ1RAt9a0MonhB48-lyFjjADmPR3wQ0mgsVCuWyS-K3mAc1YRpVviTCMUKc3hkaLzW_8Wq387jDorzRb3pao2UhxXwKfbXTy1JkY8SyCg2n7R3DeQyx_nvmMKzGv9ZKm6kFmIVmSgkkPiGYKjf0dlzussNf2KrYsbC8I1S367VLWDLb5RAc02-lqiGFk4KbUsWiifo3x39iH0_2FkMMcUKafw-6j8rmOxPMGglS6bZuRvXgf0-3iio3UL-wiWrMSulM8uPTX8bpoOmUZGD3wNY567UEB2AQyEWGgWlbTkIaH-iDpmHIA_RXp478Hl9Qyts6g6GHUCD2HaKmf0WN8VV__ffwYqkeTatVP-0sgE5i1dCJrOVVSP-sxGoPaFj=s720-no");
	background-color: black;
	background-repeat: repeat;
	background-size: 150px 150px;
}

  
  .master.doll > .doll  > .doll > .body {
	  background: -webkit-radial-gradient(center top, 0.35em .05em, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, .2) 46%, rgba(0, 0, 0, .2) 49%, rgba(235, 197, 93, 0) 50%, rgb(235, 197, 93) 51%);
  }
  
  .master.doll > .doll  > .doll > .body::before,
  .master.doll > .doll  > .doll > .body::after {
	  background: #4560cc;
  }
  
  /* doll4 */
  .master.doll > .doll > .doll > .doll > .head {
	background-image: url("https://lh3.googleusercontent.com/_TTCHn_sKzk0qn540dnXc-EGI58oKcmHqW6vf00SaYZ3tEU3GLwdpc4Teh7uVjnQFxM-CkBYfoTT5v69HWRbrCKG-gp5uzesCqJXxxEa_Ywomiq3ISBn3Cr3y2-3U2_h5mrE9HTk-DIPHl1dWOlsdoOMaxzgIxQPLL9A3geXuotBWKwpAV_D8Wif0QAA5eio5jhAr9QqIzr2JhWwkT7MDYkYw6utMHj0QBWoWXbIdxtGQEQSiWoPQYIXD6HdaLAZLhC7deeZaPy1_T8p8Ws_SbjveZVPvwpwYAIhGchjGmosWwrzenRr9AS88SSzEjd00LJiMaz4dAE1tmkdozQpWQ08XyBDzECRWvWlaqk7_kO_ESWbKM-rzaPnRLozeQXrg4e04r2w3JXD8AL4M0kR0wqMIiXES0eziGbKxnh5cJ7oTwT8Sb4Jieii37WpwLDmpW17vMR1XfuqZo_eimsEeK-4giWd_7GLmBUAC3B3yVE-J_At9YnL0oA-fSqIQUmXFFRie18fbNsyW3ycgzCiXVUCCaq7h8_lMYz_TPzXIHfPrQy1ImtO2_SAJ-5h6FoXrjcZrhDl3MwwR2ARNiWFPHgC_qMUIFKxAvbwyF4lDqMgFscyVS0H9LU5a30jiGQmTUJV8QMhh5OOUXyQWgJGqyhwuCnSrMEv-TwZq_himj3L5DWCOH9-LOoLUUZc=s720-no");
	background-color: #C2587E;
	background-repeat: repeat;
	background-size: 100px 100px;
  }

  .master.doll > .doll > .doll > .doll > .shape {
	background-image: url("https://lh3.googleusercontent.com/_TTCHn_sKzk0qn540dnXc-EGI58oKcmHqW6vf00SaYZ3tEU3GLwdpc4Teh7uVjnQFxM-CkBYfoTT5v69HWRbrCKG-gp5uzesCqJXxxEa_Ywomiq3ISBn3Cr3y2-3U2_h5mrE9HTk-DIPHl1dWOlsdoOMaxzgIxQPLL9A3geXuotBWKwpAV_D8Wif0QAA5eio5jhAr9QqIzr2JhWwkT7MDYkYw6utMHj0QBWoWXbIdxtGQEQSiWoPQYIXD6HdaLAZLhC7deeZaPy1_T8p8Ws_SbjveZVPvwpwYAIhGchjGmosWwrzenRr9AS88SSzEjd00LJiMaz4dAE1tmkdozQpWQ08XyBDzECRWvWlaqk7_kO_ESWbKM-rzaPnRLozeQXrg4e04r2w3JXD8AL4M0kR0wqMIiXES0eziGbKxnh5cJ7oTwT8Sb4Jieii37WpwLDmpW17vMR1XfuqZo_eimsEeK-4giWd_7GLmBUAC3B3yVE-J_At9YnL0oA-fSqIQUmXFFRie18fbNsyW3ycgzCiXVUCCaq7h8_lMYz_TPzXIHfPrQy1ImtO2_SAJ-5h6FoXrjcZrhDl3MwwR2ARNiWFPHgC_qMUIFKxAvbwyF4lDqMgFscyVS0H9LU5a30jiGQmTUJV8QMhh5OOUXyQWgJGqyhwuCnSrMEv-TwZq_himj3L5DWCOH9-LOoLUUZc=s720-no");
	background-color: #C2587E;
	background-repeat: repeat;
	background-size: 100px 100px;
}
  
  .master.doll > .doll > .doll > .doll > .body {
	  background: -webkit-radial-gradient(center top, 0.35em .05em, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, .2) 46%, rgba(0, 0, 0, .2) 49%, rgba(158, 206, 68, 0) 50%, rgb(158, 206, 68) 51%);
  }
  
  .master.doll > .doll > .doll > .doll > .body::before,
  .master.doll > .doll > .doll > .doll > .body::after {
	  background: #8845cc;
  }
  
  
  
  
  /*----------------
	  media queries
	  ---------------- */
  /* all showing */
  @media screen and (min-width: 1520px) {
	  .master.doll {
		  left: 80%;
	  }
  }
  
  /* 4 in air */
  @media screen and (min-width: 1200px) and (max-width: 1239px) {
	  .master.doll {
		  left: 75%;
	  }
  
	  .master.doll > .doll > .doll .doll {
		  left: 50%;
	  }
  
	  .master.doll > .doll > .doll > .doll {
		  top: -.5em;
	  }
  
	  .master.doll > .doll > .doll > .doll::after {
		  background: rgba(0, 0, 0, 0);
	  }
  
	  .master.doll > .doll > .doll > .head {
		  -moz-transform: rotate(75deg);
		  -ms-transform: rotate(75deg);
		  -o-transform: rotate(75deg);
		  -webkit-transform: rotate(75deg);
		  transform: rotate(75deg);
	  }
  }
  
  /* 1-3 showing */
  @media screen and (min-width: 1150px) and (max-width: 1199px) {
	  .master.doll {
		  left: 75%;
	  }
  
	  .master.doll > .doll > .doll .doll {
		  left: 50%;
	  }
  }
  
  /* 3 in air */
  @media screen and (min-width: 1100px) and (max-width: 1149px) {
	  .master.doll {
		  left: 75%;
	  }
  
	  .master.doll > .doll .doll {
		  left: 50%;
	  }
  
	  .master.doll > .doll > .doll {
		  top: -.5em;
	  }
  
	  .master.doll > .doll > .doll::after {
		  background: rgba(0, 0, 0, 0);
	  }
  
	  .master.doll > .doll > .head {
		  -moz-transform: rotate(75deg);
		  -ms-transform: rotate(75deg);
		  -o-transform: rotate(75deg);
		  -webkit-transform: rotate(75deg);
		  transform: rotate(75deg);
	  }
  }
  
  /* 1-2 showing */
  @media screen and (min-width: 1028px) and (max-width: 1099px) {
	  .master.doll {
		  left: 70%;
	  }
  
	  .master.doll > .doll .doll {
		  left: 50%;
	  }
  }
  
  /* 2 in air */
  @media screen and (min-width: 967px) and (max-width: 1027px) {
	  .master.doll {
		  left: 70%;
	  }
  
	  .master.doll .doll {
		  left: 50%;
	  }
  
	  .master.doll > .doll {
		  top: -.5em;
	  }
  
	  .master.doll > .doll::after {
		  background: rgba(0, 0, 0, 0);
	  }
  
	  .master.doll > .head {
		  -moz-transform: rotate(75deg);
		  -ms-transform: rotate(75deg);
		  -o-transform: rotate(75deg);
		  -webkit-transform: rotate(75deg);
		  transform: rotate(75deg);
	  }
  }
  
  /* 1 showing */
  @media screen and (max-width: 966px) {
	  .master.doll {
		  left: 50%;
	  }
  
	  .master.doll .doll {
		  left: 50%;
	  }
  }